.read-more {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;

  @include media(">=tablet") {
    height: auto !important;
    overflow: visible;
  }

  &__trigger {
    text-align: center;
    padding-bottom: 10px;

    @include media(">=tablet") {
      display: none;
    }

    &.open {
      i {
        transform: rotate(180deg);
      }
    }

    i {
      font-size: 25px;
      transition: transform 0.3s ease;
      height: 8px;
      display: block;
      line-height: 8px;

      &::before {
        height: 8px;
        display: block;
        line-height: 8px;
      }
    }
  }
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    width: 100%;
  }

  &--lg {
    width: 60px;
    height: 60px;
    min-width: 60px;
    box-shadow: 0px 5px 10px rgba(26, 30, 56, 0.2);

    @include media(">=tablet") {
      width: 103px;
      height: 103px;
      min-width: 103px;
    }
  }

  &--sm {
    width: 32px;
    height: 32px;
  }

  &--mob-md {
    width: 42px;
    height: 42px;
    border: 2px solid $white;
    box-shadow: 0px 5px 10px rgba(26, 30, 56, 0.2);
  }
}

.f-table {
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  &__td {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
}

.tooltip {
  position: relative;

  &:hover {
    .tooltip__body {
      @include media(">=tablet") {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__trigger {
  }

  &__body {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    background-color: $bg-light-gray;
    box-shadow: 0px 4px 50px #d2d2db;
    border-radius: 5px;
    width: 360px;
    right: -20px;
    top: calc(100% + 10px);
    transition: opacity 0.4s ease, 0.4s visibility 0s ease;

    &::before {
      content: "";
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      background-color: $bg-light-gray;
      right: 20px;
      top: -5px;
      transform: rotate(45deg);
    }
  }

  &__title {
    padding: 15px 21px 7px;
    font-weight: 500;
    font-size: rem(13px);
    line-height: 20px;
    color: $color-text-violet;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $light-gray;

    .icon-cup {
      width: 29px;
      margin-right: 9px;
      color: red;
    }
  }

  &__content {
    display: flex;
    text-transform: capitalize;
    padding: 15px 20px;

    .sausage {
      white-space: nowrap;
    }
  }
}

.name {
  text-transform: capitalize;

  &--mob-list {
    flex-grow: 1;
    padding-left: 20px;
  }
}

.js-acrd-sns {
  &__trigger {
  }

  &-target {
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: height 0.4s ease;

    &.active {
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }
}
