.read-more {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;

  @include media(">=tablet") {
    height: auto !important;
    overflow: visible;
  }

  &__trigger {
    text-align: center;
    padding-bottom: 10px;

    @include media(">=tablet") {
      display: none;
    }

    &.open {
      i {
        transform: rotate(180deg);
      }
    }

    i {
      font-size: 25px;
      transition: transform 0.3s ease;
      height: 8px;
      display: block;
      line-height: 8px;

      &::before {
        height: 8px;
        display: block;
        line-height: 8px;
      }
    }
  }
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    width: 100%;
  }

  &--lg {
    width: 60px;
    height: 60px;
    min-width: 60px;
    box-shadow: 0px 5px 10px rgba(26, 30, 56, 0.2);

    @include media(">=tablet") {
      width: 103px;
      height: 103px;
      min-width: 103px;
    }
  }

  &--sm {
    width: 32px;
    height: 32px;
  }
}

.sausage {
  border-radius: 1000px;
  position: relative;
  background-color: $white;
  color: $black;

  &--red {
    color: $white;
    background-color: $red;
  }

  &--blue {
    color: $white;
    background-color: $blue;
  }

  &--yellow {
    color: $white;
    background-color: $yellow;
  }

  &--dot-sm {
    width: 72px;
    padding-left: 20px;
    margin-right: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;

    @include media(">=tablet") {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 26px;
      width: 78px;
      font-size: 13px;
    }
  }

  &--dot-md {
    padding-left: 45px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    @include media(">=tablet") {
    }
  }

  &--sm {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    padding: 4px 18px;

    @include media(">=tablet") {
      font-size: 13px;
    }

    &.sausage--blue {
      @include media(">=tablet") {
        width: 87px;
      }
    }
  }

  &--md {
    padding: 14px 16px;
  }
}

.dot {
  background-color: $white;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &--sm {
    width: 4px;
    height: 4px;
    left: 10px;

    @include media(">=tablet") {
      width: 5px;
      height: 5px;
      left: 14px;
    }
  }

  &--md {
    width: 8px;
    height: 8px;
    left: 27px;

    @include media(">=tablet") {
      width: 8px;
      height: 8px;
      left: 27px;
    }
  }
}

.f-table {
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  &__td {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
}
