.friend-drinks {
  .sausage--blue {
    @include media(">=tablet") {
      width: 87px;
    }
  }

  .dot {
    margin-right: 6px;

    @include media(">=tablet") {
      margin-right: 8px;
    }
  }
}

.total-seasons {
  &--mobile {
    @include media(">=desktop") {
      display: none;
    }

    .sausage--dot-md {
      padding: 16px 24px;

      &.active {
        margin-bottom: 10px;
      }

      .name {
        flex-grow: 1;
      }
    }

    .dot {
      margin-right: 10px;
    }
  }

  &--desktop {
    display: none;

    @include media(">=desktop") {
      display: block;
      margin-bottom: 30px;
    }

    .dot {
      margin-right: 10px;
    }

    .f-table__row--head {
      padding: 0 16px;

      .f-table__td {
        flex-direction: column;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        color: $color-text-gray;

        &:first-child {
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-end;
        }

        &:last-child {
          flex-direction: row;
          justify-content: flex-end;
          align-items: flex-end;
        }

        .avatar {
          margin-bottom: 8px;
        }
      }
    }

    .f-table__td {
      max-width: 11%;
      width: 100%;
      white-space: nowrap;

      &:first-child {
        justify-content: flex-start;
        max-width: 17%;
      }

      &:last-child {
        justify-content: flex-end;
        max-width: 14%;
      }
    }
  }

  &__block {
    margin-bottom: 20px;
  }

  &__mob-list {
    border-width: 1px;
    border-style: solid;
    border-radius: 28px;
    padding: 0 10px;
  }

  &__mob-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color-text-violet, 0.1);
    padding: 15px 0;

    &:last-child {
      border: none;
    }

    .sausage {
      padding: 0 14px;
    }
  }
}

.info-character {
  &--mobile {
    margin-bottom: 44px;
  }

  &__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 71px;
    padding-right: 17px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    z-index: 10;

    .name {
      flex-grow: 1;
      font-family: $secondary-font;
      font-size: 22px;
    }

    .avatar {
      position: absolute;
      bottom: -5px;
      left: -5px;
    }
  }

  &__seasons {
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 21px;
    padding-top: 20px;
    background-color: $bg-light-gray;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .js-acrd-mobchar-target {
    box-shadow: 0 -25px 0 0 $bg-light-gray;
  }

  &__season {
    margin-bottom: 10px;

    .sausage {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      padding: 10px 17px 10px 24px;

      &.active {
      }

      .name {
      }
    }
  }

  &__season-prop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    &:first-child {
      margin-top: 20px;
    }

    .name {
      display: flex;
      align-items: center;

      .dot {
        margin-right: 10px;
      }
    }
  }

  &--desktop {
    margin-bottom: 86px;

    &:last-child {
      margin-bottom: 0;
    }

    .dot {
      margin-right: 10px;
    }

    .f-table__row--head-lg {
      position: relative;
      padding: 27px 17px 23px 50px;
      margin-left: 15px;

      .avatar--xl {
        position: absolute;
        left: -15px;
        bottom: 0;
      }

      .f-table__td {
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;

        &:first-child {
          padding-left: 40px;
          max-width: 13%;
        }
      }
    }

    .f-table__td {
      max-width: 7.3%;
      width: 100%;
      white-space: nowrap;

      &:first-child {
        justify-content: flex-start;
        max-width: 17%;
        width: 100%;
      }

      &:last-child {
        justify-content: flex-end;
        max-width: 10%;
      }
    }
  }
}

.info-character-section {
  &--desktop {
    display: none;

    @include media(">=desktop") {
      display: block;
    }
  }

  &--mobile {
    @include media(">=desktop") {
      display: none;
    }
  }
}
