.total-seasons {
  &--mobile {
    @include media(">=tablet-xl") {
      display: none;
    }

    .sausage--dot-md {
      margin-bottom: 10px;
      padding: 16px 24px;
    }
  }

  &--desktop {
    display: none;

    @include media(">=tablet-xl") {
      display: block;
    }
  }

  &__block {
    margin-bottom: 20px;
  }

  &__mob-list {
    border: 1px solid $red;
    border-radius: 28px;
    padding: 0 10px;
  }

  &__mob-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color-text-violet, 0.1);
  }
}
