.header {
  padding: 29px 0;
  margin: 0 0 10px;
  
  @include media('>=tablet') {
    margin: 0 0 37px;
    padding: 33px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__logo-link {
    width: 128px;
    
    @include media('>=tablet') {
      width: 241px;
    }
  }
}
